.bookmarksBar 
{
    list-style-type: none;
    display: flex;
    gap: .8rem;
}

.bookmarkLink
{
    display: block;
}

.bookmarkLink a, .bookmarkLink button
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5.2rem;
    min-width: 5.2rem;
    border: 1px solid #ffffff33;
    background: #ffffff09;
    border-radius: .8rem;
}

.bookmarkLink a img, .bookmarkLink button img, .bookmarkLink button svg
{
    opacity: 0.6;
}

.bookmarkLink a:hover, .bookmarkLink button:hover
{
    border-color: #ffffff66;
    background: #ffffff05;
}

.bookmarkLink a:hover img, .bookmarkLink button:hover img, .bookmarkLink button:hover svg
{
    opacity: 1;
}